
body, html, ul, li {
   height: 100%;
   margin: 0;
   font: 400 15px/1.8 "Lato", sans-serif;
   color: #777;
}



/* Stile per il testo sopra il video */
/* Stile per la navbar */
.navbar {
   background-color: rgb(255, 255, 255, 0);
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: 2; /* Assicura che la navbar sia sopra il video */
}

.navbar h1 {
   font-size: 24px;
   margin-right: 20px;
}

.navbar ul {
   list-style-type: none;
}

.navbar li {
   display: inline-block;
   margin-left: 20px;
}

.navbar a {
   text-decoration: none;
   color: #fff;
}
 
 .bgimg-1, .bgimg-2, .bgimg-3 {
   position: relative;
   
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 
 }
 .bgimg-1 {
   background-image: url("wall.gif");
   min-height: 100%;
 }
 
 .bgimg-2 {
   background-image: url("cover.jpg");
   min-height: 400px;
 }
 
 .bgimg-3 {
   background-image: url("cover.jpg");
   min-height: 400px;
 }
 
 .caption {
   position: absolute;
   left: 0;
   top: 50%;
   width: 100%;
   text-align: center;
   color: #000;
   z-index: 2;
    /* Assicura che il testo sia sopra il video */
}
 
 .caption span.border {
   background-color: rgb(255, 255, 255, 0);
   color: #fff;
   padding: 20px;
   font-size: 25px;
   letter-spacing: 10px;
   border-radius: 40px;
   border: 4px solid #ffffff;
 }
 
 h3 {
   letter-spacing: 5px;
   text-transform: uppercase;
   font: 20px "Lato", sans-serif;
   color: #111;
 }
 
 /* Turn off parallax scrolling for tablets and phones */
 @media only screen and (max-device-width: 1024px) {
   .bgimg-1, .bgimg-2, .bgimg-3 {
     background-attachment: scroll;
   }
 }